/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

header p {
    margin: 0.5rem 0 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    background: #444;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
}

nav ul li a:hover {
    background: #666; /* Changed to a lighter shade for better visibility */
    border-radius: 5px;
    color: #fff;
}

main {
    padding: 20px;
    margin: auto;
    max-width: 800px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

section h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

section ul {
    list-style: disc inside;
    margin-left: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
    bottom: 0;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #555;
    text-decoration: underline;
}

h3 {
    margin-top: 20px;
    color: #444;
}

p {
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul li a {
        padding: 10px;
        display: block;
        text-align: center;
    }
}

/* CSS to highlight GitHub repository links */
.github-repo {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background-color: #007bff; /* Blue background color */
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.github-repo:hover {
    background-color: #0056b3; /* Darker blue on hover */
    color: #fff;
}

.github-repo:focus {
    outline: 2px solid #0056b3; /* Darker blue outline on focus */
    outline-offset: 2px;
}
